* {
    background: radial-gradient(circle, red, orange);
    text-align: center;
}

div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    box-shadow: 0.33em 0.25em 0.6em 0.4em purple;
    margin-left: auto;
    margin-right: auto;
}

img {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%),
}

.parent {
    background: hs1(0 0% 0%);    
     background-image: url(/Boek/poe.jpg);
     border-start-start-radius: 3rem;
    border-end-start-radius: 3rem;
    position: relative;
}

.blend {
    font:700  5em sans-serif;  
    color: rgb(239, 246, 235);     
    text-align: center;
    mix-blend-mode: overlay; 
    /* background-image: linear-gradient(    
    hs1(50deg 100% 100% /0.5));    */
} 