* {
    background: radial-gradient(circle,red, orange);
}

div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    box-shadow: 0.33em 0.25em 0.6em 0.4em purple;    
  }

img {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%),
  }