aside {
    background-color: lightgreen;
    block-size: 200px;
    overflow: auto;
    padding: 0 lem;
    inline-size: 500px;
}

h2 {
    background-color: chartreuse;
    margin: 0px;
    position: sticky;
    inset-block-start: 0;    
}

article {
    margin-block-start: 4em;
    margin-block-end: 5vh;
}

article :last-of-type {
    margin-block-end: 5vh;
}