* {
   padding-left: auto;
    padding-right: auto;
    margin-left: 7px;
    margin-right: 5px;
}

h1 {
    text-shadow: .2em .2em .5em black;
    font-family: "Sofia", sans-serif;
}

h2 {
    text-shadow: .2em .2em .5em black;
}

/* Default styles for all screen widths */
.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    border: 3px solid black;
    margin-left: 10%;
    margin-right: 10%;
    background-color: azure;
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    ;
}

.menu li {
    flex: 1;
    margin: 0;
    text-align: center;
}

.menu a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: "Audiowide", sans-serif;
}

.menu li:not(:last-child) {
    border-right: 2px solid rgb(121, 52, 186);
    padding-right: 10px;
}

.menu li:hover {
    background-color: rgb(211, 245, 208);
}

.column {
    font-family: "Trirong", serif;
    display: inline-block;
    margin-left: 4%;
    width: 25%;
    border-right: 1px solid red;
    padding-right: 40px;
    box-sizing: border-box;
}

.column:last-child {
    border-right: none;
    /* remove the last border */
}

.images {
    display: flex;    
}

img {
    width: 24%;   
}

img.transparent {
    opacity: 0.5;
}

.line {
    width: 98%;
    height: 3px;
    background: linear-gradient(to right, black, white, black);
}

.container {
    height: 20%;
    width: 800px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: auto;
    justify-content: center;
}

.square {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 10px;
    float: left;
    margin: 4px;
    border: 3px solid black;
    position: relative;
}

.circle {
    width: 160px;
    height: 110px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 50px;
}



/* Smartphone (320px - 767px) */
@media only screen and (max-width: 767px) {
    * {
        margin-right: 0px;
        margin-left: 2px;
        padding-left: 1px;
        padding-right: 1px;
    }

    .menu {
        justify-content: center;
        list-style-type: none;
        border: 3px solid black;
        margin-left: auto;
        margin-right: auto;

    }

    .menu ul {
        padding: 0;
        margin: 0;
    }

    .menu a {
        font-size: 10px;
        margin-left: 0;
        margin-right: 5px;
        padding-left: 0;
        text-decoration: none;
        color: black;
        text-align: center;
    }

    .column {
        width: 100%;
        border-right: none;
    }

    #article {
        font-size: 12px;
    }

    .images {
        flex-wrap: wrap;       
        padding-right: 0;
    }

    .images img {
        width: 98%;
        padding-bottom: 5px;                    
    }

    .container {
        width: 420px;
        padding-left: auto;
        padding-right: auto;
        margin-left: auto;
        margin-right: auto;       
        display: flex;
        flex-direction: row;
        justify-content: left;
    }


    .square {
        width: 130px;
        height: 130px;
        background-color: blue;
        border-radius: 10px;
        margin: 5px;
        border: 3px solid black;
        position: relative;
    }

    #square1 {
        order: 1;
    }

    #square2 {
        order: 2;
    }

    #square3 {
        order: 3;
    }

    .row1 {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .row2 {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .circle {
        width: 110px;
        height: 90px;
        background-color: gray;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 50px;
        color: white;
        padding-top: 20px;
    }

}

/* Tablet (768px - 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .menu {
        text-align: center;
    }

    #article {
        font-size: 15px
    }

    .images {
        flex-wrap: wrap;
        margin-right:auto;
        margin-left: auto;
        
    }

    img {
        width: 47%;       
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
    }

    .container {
        height: 20%;
        width: 600px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #square1 {
        order: 1;
    }

    #square2 {
        order: 2;
    }

    #square3 {
        order: 3;
    }

    .row1 {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .row2 {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

}

/* Laptop/PC (1024px - 1439px) */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {

    #menu {
        display: block;
    }

    #article {
        font-size: 20px;
    }


    .container {
        height: 20%;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* Everything (1440px and above) */
@media only screen and (min-width: 1440px) {

    #menu {
        display: flex;
    }

    #article {
        font-size: 25px;
    }

    .container {
        height: 20%;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}