h2{
    text-align: center;
}
.img {  
  position: relative;   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;    
    padding: 5px;
    border: 3px solid silver;
    box-sizing: border-box;    
   }


section.deel1 { 
    position: relative;         
    width: 100%;    
    padding: 5px;
    border: 3px solid silver;
    box-sizing: border-box;     
  }

div.a {
  width: 100%;   
   border: 1px solid blue;    
  }

   span.a {
    display: inline-block;
    width: 49.5%;
    height: 100px;    
    border: 1px solid blue;         
  } 
  span.b {  
    display: inline-block; 
    width: 49.5%;
    height: 100%;    
    border: 1px solid blue;         
  } 

table, th, td {
  border: 1px solid;
}

  .pic {
    max-width:100%;
  }
 

  section.deel2 { 
    position: relative;      
    width: 100%;   
    padding: 2px;
    border: 3px solid silver;
    box-sizing: border-box;     
  }

img.pica { 
  margin-top: 2%; 
  margin-left:25%;           
  border: 3px solid #e80f0f; 
  height: 440px;
  width: 440px; 
  box-shadow: 0 0 0 20px white,
  0 0 0 40px black;
  margin-bottom:50px;      
}

