#games {    
    border-collapse: collapse;
    width: 100%;
    column-width: auto   
  }
  
  #games td, #games th {
    border: 4px solid rgb(243, 238, 238);
    text-align: center;  
  }
  
  #games tbody{
    background-color: #eed4a7
}

  #games tr:hover {background-color: #ddd;}
  
  #games th {       
    text-align: center;
    background-color: lightgrey;
    color: rgb(5, 5, 5);
  }