@charset "utf-8";

h1 {
    font-family: 'Calibri';
    font-size: 30px;
    color: blue;    
    }  
body {
    margin-top: 10px;
    background-color: lightyellow;
    padding: 40px;   
    overflow: visible;
    border: 0.5em solid black;
  } 

p {
    border: 0.5em solid black;
}

  

 