/* gebruik dev tools styles om het box model inzichtelijk te maken */


* {
    margin: 0;
    font-size: 20px;
}

body {
    background-color: rgb(235, 217, 217);
    /* padding maakt rondom de text een ruimte */
    /* padding: 20px;  */
    border: 20px solid purple;
    margin: 100px;

}

.box-one {
    background-color: red;
    /* padding maakt rondom de text een ruimte */
    padding: 20px;     
    height: 100px;
    width: 100px;
     /* border maakt rondom de padding een ruimte */
    border: 20px solid rgb(200, 236, 219);
     /* margin maakt rondom de text een ruimte , de grootse marge wint!!! */
     margin: 100px;
     /* outside the border maakt de totale box 100pxx100px en trekt de borders en padding er vanaf */
     box-sizing: border-box;
}

.box-two {
    background-color: blue;
    padding: 20px;
    height: 100px;
    width: 100px;
    border: 20px solid green;
    margin: 50px;
}