@charset "utf-8";

body {
    background-color: rgb(185, 205, 213);
  }
  
  h1 {
    font-family: 'Calibri';
    font-size: 50px;
    color: rgb(0, 255, 64);    
  } 

  h2 {
    font-family: 'Calibri';
    font-size: 30px;
    color: blue;    
  }  

  p {
    font-family: 'Calibri';
    font-size: 30px;
    color: red;    
  }  

  p::first-letter {
    color: rgb(27, 6, 55);
    font-size: xx-large;
  }