@charset "utf-8";

body {
  background-image: url("strand-groot.jpg");
}

  
  h1 {
    text-align:center;
    font-family: 'Calibri';
    font-size: 50px;
    color: rgb(241, 243, 241);       
  } 

  /* line centered */
  #box {   
    width: 900px;    
    border-bottom: 4px solid #99ff00; 
    margin: 0 auto; 
  } 

  #box2 {   
    width: 900px;    
    border-bottom: 4px solid #99ff00; 
    margin: 0 auto; 
  } 

  h1::first-letter {
    color: rgb(112, 24, 227);        
  }

  h2 {
    font-family: 'Calibri';
    font-size: 30px;
    color: blue;    
  }  

  h3 {
    font-family: 'Verdana';
    font-size: 30px;
    text-align:center;
    color: rgb(155, 18, 36);  
     
  }  

  p {
    text-align:center;
    font-family: 'Calibri';
    font-size: 20px;
    color: rgb(231, 242, 235);    
  }  

  .im {
    text-align:center;
    font-family: 'Calibri';
    font-size: 40px;
    color: rgb(0, 0, 0);    
  }  

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 :any-link {
    text-decoration: none;   
  }

  a {
    text-align:center;
    font-family: 'Calibri';
    font-size: 20px;
    color: rgb(19, 17, 19);  
  } 
